#cardtitle
{
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 500;
    font-size: 15px;
    color:yellow;
}
.card
{
    background-color: #E3FFE6;
    box-shadow:thistle;
}
.viewmore-btn
{
    background-color: #ffff;
    color: black;
    border-radius: 10px;
    padding: 10px;
}